/* css styles */
a {
  text-decoration: none;  /* Removes underline */
  color: #007bff;  /* Keeps link color (adjust as needed) */
}

/* Center all images */
.panel img,
.panel-fill img,
.panel-tabset img,
.tab-pane img,
.qmd-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* prevent overflow */
}


/* Center figure captions everywhere */
.tab-pane figure figcaption,
.panel figure figcaption,
.panel-fill figure figcaption,
.panel-tabset figure figcaption,
.qmd-content figure figcaption {
  text-align: center !important;
  /*margin-top: 0.5em;*/
  font-style: italic;
}

/* Only hide the first line of panels with the StoryMap class */
.qtd-panel.storymap > pre:first-child {
  display: none;
}